In [1]:
# import dependencies
import pandas as pd

In [2]:
# Create a data frame with given columns and value
hey_arnold_df = pd.DataFrame(
    {"Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
     "color_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
     "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
     "Football_Shaped_Head": [True, False, False, False, False, False]
     })

hey_arnold_df

  Character_in_show color_of_hair   Height  Football_Shaped_Head
0            Arnold        blonde  average                  True
1            Gerald         black  tallish                 False
2             Helga        blonde  tallish                 False
3            Phoebe         black    short                 False
4            Harold       unknown     tall                 False
5            Eugene           red    short                 False

In [5]:
# Rename columns to clean up the look
renamed_df = hey_arnold_df.rename(columns={"Character_in_show":"Characters", "color_of_hair":"Hair Color", "Football_Shaped_Head":"Football Head"})
renamed_df.head()

  Characters Hair Color   Height  Football Head
0     Arnold     blonde  average           True
1     Gerald      black  tallish          False
2      Helga     blonde  tallish          False
3     Phoebe      black    short          False
4     Harold    unknown     tall          False

In [7]:
# Organize columns into a more logical order
organized_df = renamed_df[["Characters", 'Football Shaped Head', "Height","Color of Hair", ]]
organized_df.head()

KeyError: "['Football Shaped Head', 'Color of Hair'] not in index"