In [2]:
# Import the required libraries and dependencies
import pandas as pd
from pathlib import Path
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [3]:
# Read the CSV file into a Pandas DataFrame
# Set the index using the Ticker column
df_stocks = pd.read_csv(
    Path("../Resources/tsx-energy-2018.csv"), 
    index_col="Ticker"
)

# Review the DataFrame
df_stocks.head()

,CompanyName,MeanOpen,MeanHigh,MeanLow,MeanClose,MeanVolume,AnnualReturn,AnnualVariance,EnergyType
Ticker,,,,,,,,,
ARX,ARC Resources Ltd.,13.14,13.34,12.91,13.10,1479913.38,-0.7275,0.3590,Oil
CCO,Cameco Corporation,13.70,13.92,13.50,13.70,1203788.22,0.2014,0.3693,Other Energy
CNQ,Canadian Natural Resources Limited,41.97,42.46,41.46,41.91,3218248.68,-0.3461,0.2947,Oil
CVE,Cenovus Energy Inc.,11.96,12.18,11.75,11.95,4566143.56,-0.3219,0.4500,Oil
CPG,Crescent Point Energy Corp.,8.53,8.67,8.36,8.50,3919414.03,-1.0103,0.4597,Other Energy

In [5]:
#  Prepare the data. Use the StandardScaler module and fit_transform function to 
# scale all columns with numerical values
stocks_data_scaled = StandardScaler().fit_transform(df_stocks[["MeanOpen", "MeanHigh","MeanLow", "MeanClose", "MeanVolume","AnnualReturn", "AnnualVariance"]])
                                                                  
# Diplay the first five rows of the scaled data
stocks_data_scaled

array([[-0.91683187, -0.91721692, -0.91804499, -0.9181346 , -0.15278563,
        -1.33244548,  0.46085356],
       [-0.88015205, -0.87947182, -0.87906242, -0.87878597, -0.37911694,
         1.69574215,  0.55941139],
       [ 0.97152411,  0.97784771,  0.96831488,  0.97125524,  1.27207441,
        -0.08909231, -0.15441525],
       [-0.9941215 , -0.99270713, -0.99468868, -0.9935528 ,  2.37690243,
        -0.01020099,  1.33160722],
       [-1.21878543, -1.2211301 , -1.21867327, -1.2198074 ,  1.8467981 ,
        -2.25436545,  1.42442382],
       [ 1.06715365,  1.06440114,  1.06345878,  1.06372451,  1.72022576,
         0.38947152, -0.73619352],
       [-0.81727235, -0.8156956 , -0.81761532, -0.81713979, -0.45322872,
         0.20658712,  0.53357584],
       [-0.56378856, -0.56644775, -0.55993394, -0.56137373, -1.07340114,
         0.95018664, -0.55247407],
       [-0.54020867, -0.53976586, -0.53945157, -0.53973198, -0.28193212,
         0.0941181 ,  0.00633928],
       [ 0.8267698 ,  0.8294704 ,  0.82956337,  0.82828857, -0.48390622,
         0.57137794, -0.85580254],
       [-0.24611507, -0.2527729 , -0.24344834, -0.24724053, -0.43297277,
        -0.03432478, -1.02516891],
       [ 0.46455653,  0.461781  ,  0.46418438,  0.46431378, -0.92063306,
        -0.23709502, -0.79073523],
       [-1.2672552 , -1.26733532, -1.26822738, -1.26702575,  0.38792291,
         1.68302826,  2.76978609],
       [-0.8061374 , -0.8098386 , -0.80307945, -0.80599102, -1.26529536,
        -0.02910883, -0.78308026],
       [-0.46095405, -0.45581554, -0.46545076, -0.46103473, -0.84575367,
         0.30406027,  0.92972092],
       [ 0.47896646,  0.48325667,  0.48202386,  0.4839881 , -1.03497338,
         1.64488659, -0.50845795],
       [ 1.0782886 ,  1.07416281,  1.0826197 ,  1.07946396, -0.3372379 ,
         0.59354575, -1.17731159],
       [-0.12297566, -0.12066503, -0.12385775, -0.12329236, -0.93806321,
        -1.24018828, -0.42616694],
       [-0.78714249, -0.7838075 , -0.79184718, -0.78893994, -0.43375823,
        -1.05045794,  1.19190389],
       [ 1.35666227,  1.36050499,  1.35946201,  1.3581834 ,  1.3843438 ,
         0.30373427, -0.68834991],
       [ 1.83808497,  1.83296959,  1.83914581,  1.83758082,  0.34089499,
         0.23071091, -1.10650305],
       [ 1.83808497,  1.83296959,  1.83914581,  1.83758082,  0.34089499,
         0.23071091, -1.10650305],
       [ 0.95842417,  0.96548293,  0.94981468,  0.95551579, -0.7753837 ,
        -0.80530807, -0.16876833],
       [-1.25677525, -1.26017676, -1.25435223, -1.2578444 ,  0.13838465,
        -1.81557327,  0.87230859]])

In [4]:
# Create a DataFrame called with the scaled data
# The column names should match those referenced in the StandardScaler step
df_stocks_data_scaled = pd.DataFrame(
    stocks_data_scaled,
    columns=["MeanOpen", "MeanHigh","MeanLow", "MeanClose", "MeanVolume","AnnualReturn", "AnnualVariance"]
)

# Create a Ticker column in the df_stocks_scaled DataFrame
# using the index of the original df_stocks DataFrame


# Set the newly created Ticker column as index of the df_stocks_scaled DataFrame


# Review the DataFrame

,MeanOpen,MeanHigh,MeanLow,MeanClose,MeanVolume,AnnualReturn,AnnualVariance
Ticker,,,,,,,
ARX,-0.916832,-0.917217,-0.918045,-0.918135,-0.152786,-1.332445,0.460854
CCO,-0.880152,-0.879472,-0.879062,-0.878786,-0.379117,1.695742,0.559411
CNQ,0.971524,0.977848,0.968315,0.971255,1.272074,-0.089092,-0.154415
CVE,-0.994122,-0.992707,-0.994689,-0.993553,2.376902,-0.010201,1.331607
CPG,-1.218785,-1.221130,-1.218673,-1.219807,1.846798,-2.254365,1.424424

In [5]:
# Encode (convert to dummy variables) the EnergyType column


# Review the DataFrame

        Oil  Other Energy
Ticker
ARX       1             0
CCO       0             1
CNQ       1             0
CVE       1             0
CPG       0             1

In [6]:
# Concatenate the `EnergyType` encoded dummies with the scaled data DataFrame


# Display the sample data

,MeanOpen,MeanHigh,MeanLow,MeanClose,MeanVolume,AnnualReturn,AnnualVariance,Oil,Other Energy
Ticker,,,,,,,,,
ARX,-0.916832,-0.917217,-0.918045,-0.918135,-0.152786,-1.332445,0.460854,1,0
CCO,-0.880152,-0.879472,-0.879062,-0.878786,-0.379117,1.695742,0.559411,0,1
CNQ,0.971524,0.977848,0.968315,0.971255,1.272074,-0.089092,-0.154415,1,0
CVE,-0.994122,-0.992707,-0.994689,-0.993553,2.376902,-0.010201,1.331607,1,0
CPG,-1.218785,-1.221130,-1.218673,-1.219807,1.846798,-2.254365,1.424424,0,1

In [7]:
# Initialize the K-Means model with n_clusters=3

In [8]:
# Fit the model for the df_stocks_scaled DataFrame

KMeans(n_clusters=3)

In [9]:
# Predict the model segments (clusters)


# View the stock segments

[2 0 1 2 2 1 2 0 0 1 0 0 2 0 2 0 1 0 2 1 1 1 1 2]

In [10]:
# Create a copy of the concatenated DataFrame

In [11]:
# Create a new column in the copy of the concatenated DataFrame with the predicted clusters


# Review the DataFrame

,MeanOpen,MeanHigh,MeanLow,MeanClose,MeanVolume,AnnualReturn,AnnualVariance,Oil,Other Energy,StockCluster
Ticker,,,,,,,,,,
ARX,-0.916832,-0.917217,-0.918045,-0.918135,-0.152786,-1.332445,0.460854,1,0,2
CCO,-0.880152,-0.879472,-0.879062,-0.878786,-0.379117,1.695742,0.559411,0,1,0
CNQ,0.971524,0.977848,0.968315,0.971255,1.272074,-0.089092,-0.154415,1,0,1
CVE,-0.994122,-0.992707,-0.994689,-0.993553,2.376902,-0.010201,1.331607,1,0,2
CPG,-1.218785,-1.221130,-1.218673,-1.219807,1.846798,-2.254365,1.424424,0,1,2