In [7]:
%matplotlib inline

In [8]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [14]:
# Load in csv
file_one = "../Resources/avg_rain_state.csv"
file_one_df = pd.read_csv(file_one)

In [15]:
file_one_df.head()

        State  Inches  Millimetres
0      Alaska    43.2         1098
1     Alabama    58.9         1495
2    Arkansas    55.9         1421
3     Arizona    12.6          321
4  California    22.2          564